<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="benchmarksystemEntities" connectionString="metadata=res://*/Db.csdl|res://*/Db.ssdl|res://*/Db.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=mysql;database=benchmarksystem;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>